.so-widget-sow-image-default-9bf14d5f4d89 .widget-title {
  text-align: right;
}
.so-widget-sow-image-default-9bf14d5f4d89 .sow-image-container {
  text-align: center;
}
.so-widget-sow-image-default-9bf14d5f4d89 .sow-image-container .so-widget-image {
  display: inline-block;
  max-width: 100%;
  width: inherit;
  height: auto;
}